.bg-red{
    background-color: #01a3a4;
}
.navbar{
    padding: 0 0 !important;
}

.navbar-nav .nav-link{
    border-right: 1px solid #ffff;
    color: #ffff !important;
    font-weight: 600;
    padding: 8px 16px !important;
    font-size: 13px;
}
.postTime{
    font-size: 13px;
}

.slideCard img{
    object-fit: cover;
}

.owl-nav .owl-next,
.owl-nav .owl-prev{
    color: black !important;
    margin-left: 10px;
    border: none !important;
    outline: none;
    font-size: 28px;
    width: 38px !important;
}
.owl-carousel .owl-nav.disabled {
    display: block;
}

.myCardCate{
    background-color: #4d4d4d !important;
    color: #fff;
}

.latestPostLinks{
    display: block;
    margin-bottom: 10px !important;
}

.categoryImage img{
    object-fit: cover;
}

.breadcrumb .breadcrumb-item{
    font-size: 14px !important;
}

.postShotDesc{
    font-size: 12px !important;
}

.commentShorts{
    font-size: 12px;
    font-weight: bold;
}

.mainComment{
    font-size: 12px;
}

.underConstruction img{
   width: 100%;
   object-fit: cover;
}
.form-control{
    border-radius: 0 !important;
}
.form-control:focus{
    box-shadow: none !important;
}